<!DOCTYPE html>
<html>
  <head>
    <title>Form Results</title>
  </head>
  <body>
    <h1>Form Results</h1>
    <p>Name: <%= formData.name %></p>
    <p>Email: <%= formData.email %></p>
    <p>Message: <%= formData.message %></p>

    <a href="/">Home</a>
  </body>
</html>
